@import "reset.css";
@import "css/header.css";
@import "css/video-info.css";
@import "css/creator.css";
@import "css/video-list.css";

span {
  font-family: "Hahmlet", serif;
  font-family: "Roboto Serif", serif;
}

@media screen and (min-width: 1000px) {
  #section {
    display: flex;
  }
}

.blue {
  color: blue;
}
